<html>
<head>
	<title>Add Employee</title>
	{% load staticfiles %}
	<link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}" >
	<!-- <link rel="stylesheet"  href="bootstrap.min.css" >  -->
	<!-- <link rel="stylesheet"  href="{{ STATIC_URL }}bootstrap-responsive.css" >
	<link rel="stylesheet"  href="{{ STATIC_URL }}bootstrap.min.css" > -->

</head>
<body>
<h1>Welcome home !!</h1>

<h2>add Employee</h2>
<form action="/addEmployee/" method="post">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Name</th>
			<td><input type="text" placeholder="enter employee name" name="uname" class="form-control inputlg"  style="height:40px;" /></td>
		</tr>
		<tr>
			<th>Employeee ID</th>
			<td><input type="number" placeholder="enter employee Id" name="emp_id" class="form-control inputlg"  style="height:40px;" /></td>
		</tr> 
		<tr>
			<th>Employe Email id</th>
			<td><input type="text" placeholder="enter employee emailId" name="email" class="form-control inputlg"  style="height:40px;"></td>
		</tr>
		<tr>
			<th>Employee Adresss:</th>
			<td><input type="text" placeholder="enter employee address:" name="address" class="form-control inputlg"  style="height:40px;"></td>
		</tr>
		<tr align="center">
			<td colspan="2"><input type="submit" value="add employee" name="submit" class="btn-primary btn-info btn-block btn"  ></td>
		</tr>
	</table>
</form>
</body>
</html>